html,body {
  height: 100%;
}

body {
  width: 1280px;
  margin: 0 auto;
}

#content, .view{
  display: block;
  height: 100%;
}

#content {
  border: 3px solid #89BAE8;
  border-top: none;
  border-bottom: none;
  padding: 0px 20px;
}

.bold{
  font-weight: bold;
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 20px;
  .login-form {
    display: block;

    .roles{
      label {
        margin-left: 12em;
        text-align:left;
      }
      margin-bottom: 2em;
    }
  }

}


.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 20px;

  .start-experiment {
    display: block;
    float: none;
  }
  button {
    display: block;
    margin-bottom: 1.5em;

    &.settings {
      display: block;
      float: none;
      width: 100%;
      margin-bottom: 50px;
    }
  }

}

.task {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 32px;

  .answers-form{
    height: 400px;
    position: relative;
      .finish {
        position: absolute;
        bottom: 0px;
        right: 0px;
      }
  }

    .incentive {
      ul{
        list-style: none;
        display: block;
        float: left;
        padding-right: 50px;
        li {
          display: block;
          padding-bottom: 20px;

          &.fontSizeFeature{
            font-size: 42px;
          }
          &.fontBoldFeature{
            font-weight: bold;
          }
        }
      }

  }

  .menu.pure-button {
    margin-top: 3em;
    float: right;
  }
}

.result-grid{
  td[colspan] {
    text-align: center;
  }
}