html,body {
  height: 100%;
}

body {
  margin: 0 auto;
}

/****LOADER***********/
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-wrapper {
  margin: 0 auto;
  top: 40%;
  text-align: center;

  .loader {
    display: inline-block;
    position: relative;
    border: 10px solid rgba(100, 149, 237, 0.5);
    border-left-color: #ffffff;
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
  }
  .loader,
  .loader:after {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
}

/*******************/



.error-message {
  display: block;
  color: red;
  position: absolute;
  right: 104px;
}

#content, .view{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#content {
 // border: 3px solid #89BAE8;
  border-top: none;
  border-bottom: none;
}

.bold{
  font-weight: bold;
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 20px;
  .login-form {
    display: block;

    .roles{
      label {
        margin-left: 12em;
        text-align:left;
      }
      margin-bottom: 2em;
    }

    .password-control-group {
      position: relative;
    }

    .button-controls{
      margin: 2.5em 0 0 9em;
    }


    button[type="submit"] {
      width: 150px;
      margin-left: 50px;
    }

  }
}



#settings{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 20px;
  .form {
    display: block;

    .pure-control-group{
      margin-bottom: 1em;

      label {
        width: 14em;
        text-align:left;
      }
      select{
        width: 16em;
      }
    }

    button {
      margin-top: 2em;
    }

  }

}

#incentives{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 20px;
  .form {
    display: block;

    .pure-control-group{
      margin-bottom: 2em;

      label {
        width: 14em;
        text-align:left;
      }
      select{
        width: 16em;
      }
    }

    .pure-controls{
      button{
        float: right;
        &.pure-button-primary{
          float: left;
        }
      }
    }

  }

  .table-wrappeer {
    margin: 30px 0;
    height: 300px;
    overflow-y: scroll;
    table td{
      border-color: #5D5D5D;
      border-width: 1px;
      border-right: 1px solid #5D5D5D;
    }
  }

}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 20px;

  .start-experiment {
    display: block;
    float: none;
  }
  button {
    display: block;
    margin: 1em auto;

    &.settings {
      display: block;
      float: none;
      width: 100%;
      margin-bottom: 50px;
    }
  }

}

.task {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 32px;

  .answers-form {
    height: 500px;
    position: relative;

    .footer-buttons {
      display: flex;
      position: absolute;
      bottom: 0;
      width: 100%;
      justify-content: space-between;
    }

  }

  .incentive {
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0;
      padding: 0;

      li {
        display: block;
        margin: 0;
        min-width: 140px;

        &.fontSizeFeature {
          font-size: 42px;
        }
        &.fontBoldFeature {
          font-weight: bold;
        }
      }
    }

    &.words-in-groups {
      display: block;

      ul {
        display: block;
        float: left;
        width: 40%;
        height: 36%;
        padding-right: 0;
        padding-bottom: 14%;

        &:nth-child(odd) {
          clear: left;
          padding-right: 10%;
        }

        li {
          display: inline-block;
          min-width: 50%;
          height: 50%;
          &:nth-child(odd) {
            float: left;
            clear: left;
          }
        }
      }
    }


  }

  .result {
    .pure-button {
      margin-top: 5em;
      margin-left: 15px;
      &.menu {
        float: left;
      }
      &.save-results {
        float: right;
      }
    }
  }
}

.result-grid{
    border: 1px solid #464040 !important;
    &.pure-table-bordered td {
      border: 1px solid #464040 !important;
      text-align: center !important;

      td[colspan] {
        text-align: center !important;
      }

      &.bold {
        text-align: left !important;
      }
    }
}

#incentives{

}

