html,body {
  height: 100%;
}

body {
  width: 1280px;
  margin: 0 auto;
}

#content, .view{
  display: block;
  height: 100%;
}

#content {
 // border: 3px solid #89BAE8;
  border-top: none;
  border-bottom: none;
  padding: 0px 20px;
}

.bold{
  font-weight: bold;
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 20px;
  .login-form {
    display: block;

    .roles{
      label {
        margin-left: 14em;
        text-align:left;
      }
      margin-bottom: 2em;
    }
  }
}

#settings{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 20px;
  .form {
    display: block;

    .pure-control-group{
      margin-bottom: 1em;

      label {
        width: 14em;
        text-align:left;
      }
      select{
        width: 16em;
      }
    }

    button {
      margin-top: 2em;
    }

  }

}

#incentives{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 20px;
  .form {
    display: block;

    .pure-control-group{
      margin-bottom: 1em;

      label {
        width: 14em;
        text-align:left;
      }
      select{
        width: 16em;
      }
    }

    .pure-controls{
      button{
        float: right;
        &.pure-button-primary{
          float: left;
        }
      }
    }

  }

  .table-wrappeer {
    margin: 30px 0;
    height: 300px;
    overflow-y: scroll;
    table td{
      border-color: #5D5D5D;
      border-width: 1px;
      border-right: 1px solid #5D5D5D;
    }
  }

}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 20px;

  .start-experiment {
    display: block;
    float: none;
  }
  button {
    display: block;
    margin: 1em auto;

    &.settings {
      display: block;
      float: none;
      width: 100%;
      margin-bottom: 50px;
    }
  }

}

.task {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 32px;

  .answers-form {
    height: 500px;
    position: relative;
    .finish {
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }

  .incentive {
    ul {
      list-style: none;
      display: block;
      float: left;
      padding-right: 50px;
      li {
        display: block;
        padding-bottom: 20px;

        &.fontSizeFeature {
          font-size: 42px;
        }
        &.fontBoldFeature {
          font-weight: bold;
        }
      }
    }

  }

  .result {
    .pure-button {
      margin-top: 5em;
      margin-left: 15px;
      &.menu {
        float: left;
      }
      &.save-results {
        float: right;
      }
    }
  }
}

.result-grid{
    border: 1px solid #464040 !important;
    &.pure-table-bordered td {
      border: 1px solid #464040 !important;
      text-align: center !important;

      td[colspan] {
        text-align: center !important;
      }

      &.bold {
        text-align: left !important;
      }
    }
}

#incentives{

}

