html,body {
    height: 100%;
}

body {
    width: 1280px;
    margin: 0 auto;
}

#content{
    display: block;
    height: 100%;
    width: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    font-family: cursive;
    font-size: 17px;
    text-align: center;
}



.header-university {
    margin-bottom: 100px;
}

.header-lab-name {
    margin-bottom: 70px;
}

.button-enter{
    padding: 8px;
    text-decoration: none;
    border: 2px solid #47a3da;
    border-radius: 22px;
    color: #47a3da;
}

.button-enter:hover {
    background: rgba(71, 163, 244, 0.09)
}
