<div id="login">
    <form name="loginForm"
          class="login-form pure-form pure-form-aligned"
          ng-submit="login()">

        <fieldset>
            <div class="roles">

                <div class="pure-control-group">
                    <label for="user">
                        <input type="radio" id="user" name="role" ng-model="role" value="user">
                        Испытуемый
                    </label>
                </div>

                <div class="pure-control-group">

                    <label for="admin">
                        <input type="radio" id="admin" name="role" ng-model="role" value="admin">
                        Экспериментатор
                    </label>
                </div>

            </div>

            <div class="user-fields" ng-if="role=='user'">

                <div class="pure-control-group">
                    <label>Ф.И.О.</label>
                    <input type="text" autofocus ng-model="userData.fullName" required="">
                </div>

                <div class="pure-control-group">
                    <label>Группа</label>
                    <input type="text" ng-model="userData.group" required="">
                </div>

            </div>

            <div class="admin-fields" ng-if="role=='admin'">
                <div class="pure-control-group password-control-group">
                    <label>Пароль</label>
                    <input type="password" autofocus ng-model="userData.password" required="">
                    <div ng-show="!!isLoginSubmit && !isPasswordValid()"
                         class="error-message">неверный пароль</div>
                </div>

            </div>

            <div class="pure-controls button-controls">
                <button type="submit"
                        class="pure-button pure-button-primary"
                      >Войти</button>
            </div>
        </fieldset>

    </form>
</div>



