<div class="task">

    <incentive ng-if="isShowIncentive"
               incentives="incentives"
               indexes-features="indexesFeatures"
               experiment-type="experimentType">
    </incentive>

    <form ng-if="isShowForm"
          class="pure-form answers answers-form">
        <fieldset>
            <legend>Введите слова, которые вы запомнили</legend>

            <input type="text"
                   autofocus
                   name="word"
                   ng-model="result.rememberedWord"
                   placeholder="...">

            <button type="submit"
                    class="pure-button pure-button-primary submit"
                    ng-disabled="result.rememberedWord == ''"
                    ng-click="addRememberedWord()">
                Добавить
            </button>
            <button type="submit"
                    class="pure-button button-success finish"
                    ng-click="showIncentive()">
                    Завершить
            </button>
        </fieldset>
    </form>

    <result-grid ng-if="isShowResult"
            result="experimentResults" experiment-number="1">
    </result-grid>
</div>
