<div class="task">

    <incentive ng-if="isShowIncentive"
               incentives="incentives"
               indexes-features="indexesFeatures"
               experiment-type="experimentType">
    </incentive>

    <form ng-if="isShowForm"
          class="pure-form answers answers-form">
        <fieldset>
            <legend>Введите слова, которые вы запомнили</legend>

            <input type="text"
                   id="input-remembered-word"
                   name="word"
                   maxlength="50"
                   autofocus
                   tabindex="1"
                   ng-model="result.rememberedWord"
                   placeholder="">

            <button type="submit"
                    class="pure-button pure-button-primary submit"
                    ng-disabled="result.rememberedWord == ''"
                    ng-click="addRememberedWord()">
                Добавить слово
            </button>

            <div class="footer-buttons">
                <button class="pure-button pure-button-primary menu"
                        ng-click="goToMenu()">Главное меню</button>
                <button type="submit"
                        class="pure-button button-success finish"
                        ng-click="showIncentive()">
                    {{isFinished ? 'Результаты эксперимента' : 'Следующий набор слов'}}
                </button>
            </div>

        </fieldset>
    </form>


    <div class="result" ng-if="isShowResult">
        <result-grid result="experimentResults" experiment-type="experimentType">
        </result-grid>
        <button class="pure-button button-success save-results"
                ng-if="!saveInProgres"
                ng-click="saveResults()">Сохранить результаты</button>
        <button class="pure-button pure-button-primary menu"
                ng-click="goToMenu()">Главное меню</button>
    </div>



</div>
